DukeEventAttendanceApp/DukeEventAttendanceApp.xcodeproj/project.xcworkspace/xcuserdata/jessicasu.xcuserdatad/UserInterfaceState.xcuserstate

DukeEventAttendanceApp/DukeEventAttendanceApp.xcodeproj/xcuserdata/jessicasu.xcuserdatad/xcschemes/xcschememanagement.plist
