DukeEventAttendanceApp/DukeEventAttendanceApp.xcodeproj/project.pbxproj
	DukeEventAttendanceApp/DukeEventAttendanceApp.xcodeproj/project.xcworkspace/xcuserdata/ahw26.xcuserdatad/UserInterfaceState.xcuserstate
	DukeEventAttendanceApp/DukeEventAttendanceApp.xcodeproj/xcuserdata/ahw26.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
